{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{% block title %} Box Game! {% endblock %}</title>

<script src="{{ STATIC_PREFIX }}js/jquery-1.5.1.min.js" type="text/javascript"
    charset="utf-8"></script>
<script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.9.custom.min.js" type="text/javascript"
    charset="utf-8"></script>

<style type="text/css">
        {% include 'boxGame.css' %}
</style>
{% block headscript %}
{% endblock %}
</head>

<body>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
</body>
</html>
